.spoiler-text {
  display: none;
}

.spoiler-text,
.spoiler-notice-text.spoiler-show > a,
.spoiler-text .thumbcaption,
html.ve-active .spoiler-text {
  text-decoration: underline dotted #746ccb;
  text-underline-offset: 0.2em;
}

html.ve-active span.spoiler-text {
  display: inline;
}

html.ve-active div.spoiler-text {
  display: block;
}
