body.womens-day {
  cursor:
    url(/img_auth.php/8/87/%EB%B9%B5%EA%B3%BC_%EC%9E%A5%EB%AF%B8_%EC%97%90%EB%AA%A8%EC%A7%80.webp),
    pointer;
}

.womens-day-touch-scroll {
  position: fixed;
}

.womens-day-touch-scroll::before {
  content: url(/img_auth.php/8/87/%EB%B9%B5%EA%B3%BC_%EC%9E%A5%EB%AF%B8_%EC%97%90%EB%AA%A8%EC%A7%80.webp);
}
