.mw-dismissable-notice-close {
  filter: invert(1);
  background-color: white;
  padding: 0.2em 0.1em 0.3em;
  position: fixed;
  top: 1.7em;
  right: 5.2em;
  z-index: 101;
}

#localNotice figure {
  position: fixed;
  top: 4em;
  right: 5em;
  z-index: 100;
}

#localNotice figcaption {
  font-family: 'Gugi', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}
