/* 초설의 안 */
#p-header #lastmod-and-views {
  padding: 0.3em 0;
}

#p-header #lastmod-and-views #p-views ul li {
  display: inline-block;
  float: none;
}

#p-header #lastmod-and-views #p-views #ca-ve-edit,
#p-header #lastmod-and-views #p-views #ca-edit {
  background-color: #5144a3;
  font-size: 1rem;
  padding: 0.3em 0.5em;
  border: 1px solid #302a45;
  border-radius: 0.3em;
  cursor: pointer;
  box-shadow: 0 1px 2px var(--box-shadow-color-button, rgba(0, 0, 0, 0.5));
  transition: background-color 0.3s;
}

body #p-header #lastmod-and-views #p-views #ca-ve-edit:hover,
body #p-header #lastmod-and-views #p-views #ca-ve-edit:focus,
body #p-header #lastmod-and-views #p-views #ca-edit:hover,
body #p-header #lastmod-and-views #p-views #ca-edit:focus {
  background-color: #302a45;
}

#p-header #lastmod-and-views #p-views #ca-ve-edit:active,
#p-header #lastmod-and-views #p-views #ca-edit:active {
  box-shadow: inset 0 1px 2px var(--box-shadow-color-button, rgba(0, 0, 0, 0.5));
}

#p-header #lastmod-and-views #p-views #ca-edit a,
#p-header #lastmod-and-views #p-views #ca-ve-edit a {
  color: #ffffff;
  display: flex;
  align-items: center;
}

#p-header #lastmod-and-views #p-views #ca-ve-edit a:hover,
#p-header #lastmod-and-views #p-views #ca-edit a:hover {
  color: #ffffff;
  border: none;
}

#p-header #lastmod-and-views #p-views #ca-ve-edit a:focus,
#p-header #lastmod-and-views #p-views #ca-edit a:focus {
  border: none;
}

#p-header #lastmod-and-views #p-views #ca-edit a:before,
#p-header #lastmod-and-views #p-views #ca-ve-edit a:before {
  content: '';
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8a/OOjs_UI_icon_edit-ltr.svg);
  background-size: 1em;
  filter: invert(1);
  padding-right: 0.3em;
  background-repeat: no-repeat;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}
