#p-search {
  /* Disabled by https://github.com/femiwiki/remote-gadgets/issues/27 */
  /* position: relative; */
}
#p-search #anniversary-icon {
  display: block;
  position: fixed;
  right: 0.3rem;
  bottom: 0.3rem;
  height: 1.8rem;
  pointer-events: none;
}
