.mw-gallery-traditional {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 1.3rem;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.mw-gallery-traditional.scroll-right {
  box-shadow: -17px 0 16px -16px rgba(0, 0, 0, 0.4) inset;
}

.mw-gallery-traditional .gallerytext > p {
  white-space: normal;
  margin: 0;
  text-align: center;
}

.mw-gallery-traditional li.gallerybox div.thumb {
  margin: 0;
  border: none;
  background-color: initial;
}

.mw-gallery-traditional {
  margin-bottom: 3.2rem;
}

@media screen and (max-width: 480px) {
  ul.mw-gallery-traditional {
    box-sizing: border-box;
    width: calc(100% + 2.6rem);
    margin-left: -1.3rem;
  }
}

@media screen and (max-width: 360px) {
  ul.mw-gallery-traditional {
    width: calc(100% + 1.7rem);
    margin-left: -0.85rem;
  }
}
