/* 이 CSS 설정은 모든 스킨에 적용됩니다 */

/*
개인 도구 중 "토론"과 "기여"를 로그인 하지 않은 사용자에게는 보이지 않기
현재 익명 편집이 불가능하여 사용될 일이 없음
*/
#pt-anontalk,
#pt-anoncontribs {
  display: none;
}

/* <languages />의 결과물 가리기(스킨의 언어 링크와 중복되어 필요가 없음)  */
.mw-pt-languages {
  display: none;
}

/*
위키베이스에 의한 "링크 추가" 버튼을 숨김
See https://github.com/femiwiki/docker-mediawiki/issues/323
*/
.wb-langlinks-link {
  display: none;
}

/*
사용자 홈페이지의 빈 편집 제안 자리 채우기
https://github.com/femiwiki/femiwiki/issues/272
*/
body.mw-special-Homepage.growthexperiments-homepage-desktop
  .growthexperiments-homepage-container {
  display: block;
}
body.mw-special-Homepage.growthexperiments-homepage-desktop
  .growthexperiments-homepage-container
  .growthexperiments-homepage-group-main {
  width: auto;
}
body.mw-special-Homepage.growthexperiments-homepage-desktop
  .growthexperiments-homepage-container
  .growthexperiments-homepage-group-main-subgroup-secondary {
  min-height: auto;
}
body.mw-special-Homepage.growthexperiments-homepage-desktop
  .growthexperiments-homepage-container
  .growthexperiments-homepage-group-sidebar {
  width: auto;
}
body.mw-special-Homepage.growthexperiments-homepage-desktop
  .growthexperiments-homepage-container
  .growthexperiments-homepage-group-sidebar
  .growthexperiments-homepage-module {
  margin-right: 8px;
}

/*
사용자 홈페이지 영향 모듈의 https://pageviews.toolforge.org/ 로 향하는 링크 비활성화
*/
#mw-content-text
  .growthexperiments-homepage-module-impact
  .impact-row
  .pageviews:not(.empty-pageview) {
  pointer-events: none;
  color: #54595d;
}
