/*
<nowiki>
이 CSS 설정은 모든 스킨에 적용됩니다
*/

/*
색을 반전시키는 다크모드에 의해 반전될 수 있도록 배경색을 명시적으로 지정
파이어폭스와 구글 크롬에서 둘 다 잘 작동하도록 body와 html에 적용함
https://github.com/femiwiki/FemiwikiSkin/issues/397 해결 시 삭제할 것
*/
html.client-dark-mode body,
html.client-dark-mode {
  background-color: whitesmoke;
}

/*
개인 도구의 "베타" 링크 숨기기
[[주제:Uty456jw505lp6ym]]
*/
#pt-betafeatures {
  display: none;
}

/*
공유 버튼에 이미지 아이콘 추가
*/
#share-facebook > a,
#share-twitter > a {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 28px;
}
.mw-fw-ui-shareDialog .mw-fw-ui-twitterButton .oo-ui-iconElement-icon {
  background-image: url(https://femiwiki-uploaded-files.s3.amazonaws.com/b/bb/Twitter_Social_Icon_Rounded_Square_Color.svg);
}
.mw-fw-ui-shareDialog .mw-fw-ui-facebookButton .oo-ui-iconElement-icon {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg);
}

/*
뮤트 메뉴의 버튼이 잘 안 보이는 문제 수정
[[주제:Ucejtawk4j2jmvx3]]
*/
div.dialog input[type='reset'] {
  background-color: lightgray;
  color: #252525;
}

/*
모바일로 특:차이 및 편집 역사에서 감사하기 시도 시 confirm이 잘 안 보이는 것 패치
[[주제:Utxd1udaiipmza7y]]
*/
.mw-diff-tool .jquery-confirmable-interface,
#pagehistory .jquery-confirmable-interface {
  display: inline;
  white-space: normal;
}

/*
카테고리 트리 우측의 LTR 문자가 종종 실수로 복사되는 일을 막기 위해 띄움
*/
.CategoryTreeLabel {
  margin-right: 0.5em;
}

/**/
#content .embedvideowrap {
  height: auto !important;
}

/*
z-index가 3인 .flow-board-header에 도움말 패널이 가려지는 것 우회
https://github.com/femiwiki/FemiwikiSkin/issues/246
*/
.mw-ge-help-panel-widget-overlay {
  z-index: 4;
}

/*
https://github.com/femiwiki/FemiwikiSkin/issues/292
https://github.com/femiwiki/OOUIFemiwikiTheme/issues/12
*/
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button:hover {
  background-color: rgba(0, 24, 73, 0.02745098);
}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-buttonElement-pressed
  > input.oo-ui-buttonElement-button,
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button:active {
  background-color: rgba(0, 36, 73, 0.08235294);
}
.oo-ui-fieldLayout-messages > .oo-ui-messageWidget:first-child {
  margin-top: 4px;
}
.oo-ui-indicatorWidget {
  margin: 0.42857143em;
}
.oo-ui-toggleButtonWidget.oo-ui-widget-enabled.oo-ui-buttonElement-frameless.oo-ui-toggleWidget-on
  .oo-ui-buttonElement-button {
  background-color: rgba(0, 36, 73, 0.08235294);
}
.oo-ui-processDialog-title {
  line-height: 2.5974026em;
}
.oo-ui-processDialog.oo-ui-isMobile .oo-ui-processDialog-title {
  line-height: 2.85714286em;
}

@media screen and (max-width: 480px) {
  /*
  ULS가 이상한 문제 우회
  https://github.com/femiwiki/FemiwikiSkin/issues/77
  */
  .language-settings-dialog {
    left: 0 !important;
    width: 100%;
    box-sizing: border-box;
  }
  .uls-wide,
  .language-settings-dialog.grid .row {
    min-width: inherit;
  }
  .uls-menu.callout:before,
  .uls-menu.callout:after {
    content: none;
  }

  /*
  개선된 최근바뀜 필터 이상한 문제 우회
  https://github.com/femiwiki/skin/issues/37
  */
  .mw-rcfilters-ui-menuSelectWidget,
  .mw-rcfilters-ui-menuSelectWidget-body,
  .mw-rcfilters-ui-filterMenuHeaderWidget-header-title {
    max-width: 90vw !important;
  }
  .mw-rcfilters-ui-itemMenuOptionWidget-excludeLabel,
  .mw-rcfilters-ui-itemMenuOptionWidget-highlightButton {
    width: auto;
  }

  /*
  팝업이 모바일에서 화면 밖으로 나가는 문제 우회
  */
  .mwe-popups {
    left: 0 !important;
  }
  .mwe-popups.mwe-popups:before,
  .mwe-popups.mwe-popups:after {
    content: none;
  }
}
