#p-header .fw-watchlink-badge {
  display: inline-block;
  font-size: 0.7rem;
  min-width: 0.6rem;
  height: 1.2rem;
  line-height: 1.1rem;
  padding: 0 0.3rem;
  background-color: #aca6e4;
  color: #fff;
  border-radius: 0.6rem;
  text-align: center;
  margin: 0 0.5em 0 0.6em;
  vertical-align: middle;
}
