.fw-edit {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  border: 0;
  padding: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  z-index: 100;
  animation: help-panel-slidein 800ms;
  background-color: #bad75b;
  cursor: pointer;
}

.fw-edit .oo-ui-icon-edit {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
}
