.fw-edit {
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  z-index: 100;
  animation: help-panel-slidein 800ms;
  background-color: #bad75b;
  cursor: pointer;
}

.fw-edit:after {
  content: '';
  width: 3rem;
  height: 3rem;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  color: white;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8a/OOjs_UI_icon_edit-ltr.svg);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.725rem;
  filter: invert(1);
}
